n8n-workflows/payment-detection.workflow.json
{"updatedAt":"2026-04-20T07:05:28.263Z","createdAt":"2026-04-20T06:27:11.611Z","id":"grsXd1VCVIL2F8Cv","name":"Krave — Payment Detection","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3,10 * * *"}]}},"id":"n1","name":"10am and 5pm ICT","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304]},{"parameters":{"operation":"getAll","limit":20,"filters":{"q":"from:airwallex.com (subject:\"payment received\" OR subject:\"funds received\" OR subject:\"transfer received\" OR subject:\"deposit\") -shopify newer_than:2d"}},"id":"n2","name":"Search Airwallex Emails","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,304],"webhookId":"3731ca1f-3843-4de1-868d-9512f792aa13","credentials":{"gmailOAuth2":{"id":"vxHex5lFrkakcsPi","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst emails = [];\n\nfor (const item of items) {\n  const msg = item.json;\n  let body = '';\n  try {\n    const payload = msg.payload || {};\n    if (payload.body && payload.body.data) {\n      body = Buffer.from(payload.body.data, 'base64').toString('utf-8');\n    } else if (payload.parts) {\n      for (const part of (payload.parts || [])) {\n        if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n          body = Buffer.from(part.body.data, 'base64').toString('utf-8'); break;\n        }\n        for (const sub of (part.parts || [])) {\n          if (sub.mimeType === 'text/plain' && sub.body && sub.body.data) {\n            body = Buffer.from(sub.body.data, 'base64').toString('utf-8'); break;\n          }\n        }\n      }\n    }\n    if (!body && msg.snippet) body = msg.snippet;\n  } catch(e) {}\n\n  const headers = (msg.payload && msg.payload.headers) || [];\n  const subject = (headers.find(h => h.name && h.name.toLowerCase() === 'subject') || {}).value || msg.snippet || '';\n  const searchText = (body + ' ' + subject).toLowerCase();\n\n  // Skip anything Shopify-related\n  if (searchText.includes('shopify')) continue;\n  if (searchText.includes('shop_')) continue;\n  if (searchText.includes('payout')) continue; // Shopify payouts\n\n  // Extract amount and currency\n  let amount = null, currency = null;\n  const patterns = [\n    /([A-Z]{3})s*[$]?s*([d,]+.?d*)/,\n    /([d,]+.?d*)s*(USD|SGD|HKD|AUD|EUR|GBP)/\n  ];\n  for (const pat of patterns) {\n    const m = (body + ' ' + subject).match(pat);\n    if (!m) continue;\n    if (/^[A-Z]{3}$/.test(m[1])) { currency = m[1]; amount = parseFloat(m[2].replace(/,/g,'')); }\n    else { amount = parseFloat(m[1].replace(/,/g,'')); currency = m[2]; }\n    if (amount && currency) break;\n  }\n\n  if (!amount || !currency) continue; // can't parse — skip silently\n\n  // Skip non-round amounts — client invoices are always whole numbers\n  // Round = no cents, or exactly .00\n  const isRound = amount % 1 === 0;\n  if (!isRound) continue; // Shopify payouts are always irregular (e.g. $588.93)\n\n  // Extract invoice number if present\n  const invMatch = (body + ' ' + subject).match(/INV-[wd-]+/i);\n  const invoiceNumber = invMatch ? invMatch[0].toUpperCase() : null;\n\n  emails.push({\n    emailId: msg.id,\n    subject,\n    amount,\n    currency,\n    invoiceNumber,\n    date: new Date().toISOString().split('T')[0]\n  });\n}\n\nreturn [{ json: { emails, count: emails.length } }];"},"id":"n3","name":"Parse All Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"documentId":{"__rl":true,"value":"1u5InkNpdLhgfFnE-a1bRRlEOFZ2oJf6EOG1y42_Th50","mode":"id"},"sheetName":{"__rl":true,"value":"Invoices","mode":"name"},"options":{}},"id":"n4","name":"Get Invoice Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[912,304],"credentials":{"googleSheetsOAuth2Api":{"id":"83MQOm78gYDvziTO","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const parsedData = $('Parse All Emails').first().json;\nconst emails = parsedData.emails || [];\nconst today = new Date().toISOString().split('T')[0];\n\nif (emails.length === 0) {\n  return [{ json: { matched: false, noAction: true, date: today } }];\n}\n\nconst allRows = $input.all();\nconst openRows = allRows.filter(r => {\n  const s = (r.json['Status'] || '').toString().trim();\n  return !['Payment Complete', 'Collections'].includes(s) && r.json['Invoice #'];\n});\n\nconst results = [];\n\nfor (const email of emails) {\n  let match = null, confidence = 'none';\n\n  // Priority 1: invoice number match\n  if (email.invoiceNumber) {\n    const found = openRows.find(r =>\n      (r.json['Invoice #'] || '').toString().trim().toUpperCase() === email.invoiceNumber\n    );\n    if (found) { match = found; confidence = 'high'; }\n  }\n\n  // Priority 2: exact amount + currency match (only if single open invoice at that amount)\n  if (!match && email.amount) {\n    const hits = openRows.filter(r => {\n      const amt = parseFloat((r.json['Amount'] || '0').toString().replace(/,/g,''));\n      const cur = (r.json['Currency'] || '').toString().trim().toUpperCase();\n      return Math.abs(amt - email.amount) < 0.01 && cur === email.currency;\n    });\n    if (hits.length === 1) { match = hits[0]; confidence = 'medium'; }\n    // If ambiguous (multiple matches) or no match — skip silently, no Slack noise\n  }\n\n  if (match) {\n    results.push({\n      matched: true,\n      confidence,\n      clientName: match.json['Client Name'] || '',\n      invoiceNumber: match.json['Invoice #'] || '',\n      airwallexInvoiceId: match.json['Airwallex Invoice ID'] || '',\n      amount: email.amount,\n      currency: email.currency,\n      paymentDate: today\n    });\n  }\n  // No match → silently dropped. Not Slack noise.\n}\n\n// If nothing matched after processing real client emails, still return noAction\nif (results.length === 0) {\n  return [{ json: { matched: false, noAction: true, date: today } }];\n}\n\nreturn results.map(r => ({ json: r }));"},"id":"n5","name":"Match Deposits To Invoices","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n6","name":"Match Found?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1344,304]},{"parameters":{"method":"POST","url":"https://api.airwallex.com/api/v1/authentication/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-client-id","value":"JaQA4uJ1SDSBkTdFigT9sw"},{"name":"x-api-key","value":"5611f8e189ef357e5b3493916208efb80413595b50e7201b8fc98af5c91666f50b10ee64fd87fa3db7435e8dc5c07721"}]},"options":{}},"id":"n7","name":"Airwallex Auth","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,160],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://api.airwallex.com/api/v1/invoices/' + $('Match Deposits To Invoices').item.json.airwallexInvoiceId + '/mark_as_paid' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"n8","name":"Airwallex Mark Paid","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,160],"continueOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u5InkNpdLhgfFnE-a1bRRlEOFZ2oJf6EOG1y42_Th50","mode":"id"},"sheetName":{"__rl":true,"value":"Invoices","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Invoice #":"={{ $('Match Deposits To Invoices').item.json.invoiceNumber }}","Status":"Payment Complete","Payment Confirmed Date":"={{ $('Match Deposits To Invoices').item.json.paymentDate }}"},"matchingColumns":["Invoice #"],"schema":[]},"options":{}},"id":"n9","name":"Update Invoice Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,160],"credentials":{"googleSheetsOAuth2Api":{"id":"83MQOm78gYDvziTO","name":"Google Sheets account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C09HN2EBPR7","mode":"id"},"text":"={{ '✅ Payment check complete — ' + $json.date + ' — no new client payments detected.' }}","otherOptions":{}},"id":"c4e19c67-360b-4d2c-ba10-b3d3c10c70a4","name":"Slack Alert","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1552,512],"webhookId":"dfc0201b-800e-4d9f-9b92-d031f4caac77","credentials":{"slackApi":{"id":"Bn2U6Cwe1wdiCXzD","name":"Krave Slack Bot"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C09HN2EBPR7","mode":"id"},"text":"={{ '✅ *Payment Received — ' + $('Match Deposits To Invoices').item.json.clientName + '*\\n• Invoice: ' + $('Match Deposits To Invoices').item.json.invoiceNumber + '\\n• Amount: ' + $('Match Deposits To Invoices').item.json.amount + ' ' + $('Match Deposits To Invoices').item.json.currency + '\\n• Confirmed: ' + $('Match Deposits To Invoices').item.json.paymentDate + '\\n• Tracker: Updated to Payment Complete' }}","otherOptions":{}},"id":"221bbd18-b503-4307-b28b-8c7b148ba7d7","name":"Slack Payment Confirmed","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2192,176],"webhookId":"d4d7b523-3b0c-48de-a7d7-3cb767efc0da","credentials":{"slackApi":{"id":"Bn2U6Cwe1wdiCXzD","name":"Krave Slack Bot"}}},{"parameters":{"httpMethod":"POST","path":"krave-payment-detection","options":{}},"id":"webhook-manual","name":"Manual Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,112],"webhookId":"krave-payment-detection"}],"connections":{"Search Airwallex Emails":{"main":[[{"node":"Parse All Emails","type":"main","index":0}]]},"Parse All Emails":{"main":[[{"node":"Get Invoice Tracker","type":"main","index":0}]]},"Get Invoice Tracker":{"main":[[{"node":"Match Deposits To Invoices","type":"main","index":0}]]},"Match Deposits To Invoices":{"main":[[{"node":"Match Found?","type":"main","index":0}]]},"Match Found?":{"main":[[{"node":"Airwallex Auth","type":"main","index":0}],[]]},"Airwallex Auth":{"main":[[{"node":"Airwallex Mark Paid","type":"main","index":0}]]},"Airwallex Mark Paid":{"main":[[{"node":"Update Invoice Status","type":"main","index":0}]]},"Update Invoice Status":{"main":[[{"node":"Slack Payment Confirmed","type":"main","index":0}]]},"Manual Webhook Trigger":{"main":[[{"node":"Search Airwallex Emails","type":"main","index":0}]]},"10am and 5pm ICT":{"main":[[{"node":"Search Airwallex Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Every 2 Hours":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b1f7993-8850-4f99-9dd5-59a176020550","activeVersionId":null,"versionCounter":27,"triggerCount":2,"shared":[{"updatedAt":"2026-04-20T06:27:11.614Z","createdAt":"2026-04-20T06:27:11.614Z","role":"workflow:owner","workflowId":"grsXd1VCVIL2F8Cv","projectId":"AcOaymAgjjINZh39","project":{"updatedAt":"2025-09-10T07:28:50.974Z","createdAt":"2025-09-10T07:28:48.006Z","id":"AcOaymAgjjINZh39","name":"Noa Takhel <noa@kravemedia.co>","type":"personal","icon":null,"description":null,"creatorId":"b1901a93-6f2c-4e71-9b8d-6f9a35a25875"}}],"tags":[],"activeVersion":null}